<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Heat Compensation Tool</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/ulendo_favi.jpg">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <script defer src="../js/all.js"></script>
    <script defer src="../js/plotly.min.js"></script>
    <script defer type="text/javascript" src="/eel.js"></script>
    <script defer src="../js/app.js"></script>
</head>

<body>
    <div class="app-container">
        <div class="left-panel">
            <div class="top-panel">
                <img src="../public/ulendo_hc_green.png" alt="Ulendo Logo" class="logo">
                <div class="file-input form-group">
                    <div>
                        <div id="info">Current supported file types: .cli</div>
                        <input type="file" id="cliFile" accept=".cli" class="form-control">
                    </div>
                    <form id="materialForm">
                        <div class="mb-2">
                            <label for="materialName" class="form-label">Select Material:</label>
                            <select id="materialName" class="form-select" required>
                            </select>
                        </div>
                        <button class="btn btn-alpha dropdown-btn" id="view-materials">View material params <i
                                class="bi bi-chevron-down"></i></button>
                        <div id="custom-material-config" class="custom-material-config my-3" style="display: none;">
                            <div class="form-group">
                                <label for="custom-material-name" class="form-label">Custom Material Name:</label>
                                <input id="custom-material-name" class="form-control"
                                    placeholder="e.g., Custom Material">
                            </div>
                            <div class="form-group">
                                <label for="kt" class="form-label">Thermal Conductivity [W/mK]</label>
                                <input type="number" id="kt" class="form-control" step="0.01" placeholder="e.g., 7.0">
                            </div>
                            <div class="form-group">
                                <label for="rho" class="form-label">Density [kg/m³]</label>
                                <input type="number" id="rho" class="form-control" step="1" placeholder="e.g., 4420">
                            </div>
                            <div class="form-group">
                                <label for="cp" class="form-label">Heat Capacity [J/kgK]</label>
                                <input type="number" id="cp" class="form-control" step="1" placeholder="e.g., 560">
                            </div>
                            <div class="form-group">
                                <label for="h" class="form-label">Convection Coefficient [W/m²K]</label>
                                <input type="number" id="h" class="form-control" step="0.01" placeholder="e.g., 20">
                            </div>
                        </div>
                    </form>
                    <form id="machineForm">
                        <div class="mb-2">
                            <label for="machineName" class="form-label">Select Machine:</label>
                            <select id="machineName" class="form-select" required>
                            </select>
                        </div>
                        <button class="btn btn-alpha dropdown-btn" id="view-machines">View machine params <i
                                class="bi bi-chevron-down"></i></button>
                        <div id="custom-machine-config" class="custom-machine-config my-3" style="display: none;">
                            <div class="form-group">
                                <label for="custom-machine-name" class="form-label">Custom Machine Name:</label>
                                <input id="custom-machine-name" class="form-control" placeholder="e.g., Custom Machine">
                            </div>
                            <div class="form-group">
                                <label for="vs" class="form-label">Scanning Speed [m/s]</label>
                                <input type="number" id="vs" class="form-control" step="0.01" placeholder="e.g., 100">
                            </div>
                            <div class="form-group">
                                <label for="P" class="form-label">Laser Power [W]</label>
                                <input type="number" id="P" class="form-control" step="1" placeholder="e.g., 150">
                            </div>
                        </div>
                    </form>
                    <div class="analyze-container">
                        <button id="viewButton" class="btn btn-primary">View Original <i
                                class="bi bi-eye-fill"></i></button>
                        <button id="processButton" class="btn btn-primary">Optimize <i
                                class="bi bi-gear-fill"></i></button>
                    </div>
                    <div class="loading-status" id="loadingStatus"></div>
                    <div class="loading-bar" id="loadingBar">
                        <div class="loading-progress" id="loadingProgress"></div>
                    </div>
                </div>
            </div>
            <div class="btm-panel">
                <h2>Optimization History</h2>
                <button id="refreshButton" class="btn btn-primary">
                    <i class="bi bi-arrow-clockwise"></i>
                    Refresh
                </button>
                <div class="file-history">
                    <div class="list-group" id="fileHistory"></div>
                    <nav aria-label="history-nav">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="bi bi-chevron-left"></i>
                                    Previous
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    Next
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="version">
                <span id="version-number"></span>
            </div>
        </div>
        <div class="resizer" id="dragMe"></div>
        <div class="right-panel">
            <div class="idle-container" id="idle-screen">
                <h2><i class="bi bi-bar-chart"></i></h2>
                <p>Upload or select an optimized .cli file to get started</p>
            </div>
            <div class="spinner-container" id="spinner">
                <div class="spinner-border text-ulendo"></div>
            </div>
            <div id="analysis-container" style="display: none;">
                <div class="instructions mx-3 my-3">
                    <p>
                        INFO: The block will be color-coded from red to green. Red represents the most recently
                        lasered part (hottest), while green indicates the coldest.
                    </p>
                </div>
                <div id="plot-container">
                    <div id="data_plot"></div>
                    <div id="opti_plot"></div>
                </div>
                <label for="rOptimized" class="form-label" style="display: none;">R Optimal: <span
                        id="rOptimized"></span></label>
                <label for="rOriginal" class="form-label" style="display: none;">R Original: <span
                        id="rOriginal"></span></label>
                <div class="slider-container px-3">
                    <div class="d-flex align-items-center justify-content-evenly mt-3">
                        <button id="playButton" class="btn btn-primary">
                            <i class="bi bi-play-fill"></i>
                        </button>
                        <div class="ms-2">
                            <label for="speedRange" class="form-label">Speed: <span id="speedValue">1x</span></label>
                            <input type="range" class="form-range" id="speedRange" min="0.5" max="2" step="0.5"
                                value="1">
                        </div>
                        <div class="d-flex flex-column justify-content-evenly align-items-stretch"
                            id="analysis-options">
                            <div>
                                <input class="form-check-input" type="checkbox" value="" id="showOriginalCheckbox">
                                <label class="form-check-label" for="showOriginalCheckbox">
                                    Show Original
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="" id="showHatchCheckbox">
                                <label class="form-check-label" for="showHatchCheckbox">
                                    Show Hatch Lines
                                </label>
                            </div>
                        </div>
                    </div>
                    <label for="layerSlider" class="form-label">Layer: <span id="layerValue">0</span></label>
                    <input type="range" class="form-range" id="layerSlider" value="0">
                    <label for="hatchSlider" class="form-label">Hatches: <span id="hatchesValue">0</span></label>
                    <input type="range" class="form-range" id="hatchSlider" value="0">
                </div>
            </div>
        </div>
    </div>
</body>

</html>