<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ulendo HC (Heat
        Compensation)</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/ulendo_favi.jpg">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <script defer src="../js/all.js"></script>
    <script defer src="../js/plotly.min.js"></script>
    <script defer src="../js/bootstrap.bundle.min.js"></script>
    <script defer type="text/javascript" src="/eel.js"></script>
    <script defer src="../js/app.js"></script>
</head>

<body>
    <div class="app-container">
        <div class="left-panel">
            <div class="top-panel">
                <img src="../public/ulendo_hc_green.png" alt="Ulendo Logo" class="logo">
                <div class="file-input form-group">
                    <div class="d-flex justify-content-between align-items-center" id="help-btn-processing">
                        <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="collapse"
                            data-bs-target="#collapseContentProcessing" aria-expanded="false" aria-controls="collapseContentProcessing"
                            title="Click for help">
                            Help <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>
                    <div class="collapse mt-2" id="collapseContentProcessing">
                        <div class="alert alert-info">
                            <ul>
                                <li>Upload a <code>.cli</code> file to get started.</li>
                                <li>Select the material and machine for optimization.</li>
                                <li>Click <strong>View</strong> to see the original file's details.</li>
                                <li>Click <strong>Optimize</strong> to optimize the file.</li>
                                <li>Select a file to view its thermal analysis and insights.</li>
                                <li>Use the directory button to locate the optimized <code>.cli</code> file on your
                                    system.</li>
                                <li>For support, please email <a href="mailto:support@ulendo.io">support@ulendo.io</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="alert alert-success fade show" role="alert" id="alert-status" style="display: none;">
                        <h4 class="alert-heading" id="alert-title"></h4>
                        <span id="alert-message"></span>
                        <button type="button" class="btn-close me-3" id="alert-close-btn" aria-label="Close"></button>
                    </div>
                    <div>
                        <div id="info">Current supported file types: .cli</div>
                        <input type="file" id="cliFile" accept=".cli" class="form-control">
                    </div>
                    <form id="materialForm">
                        <div class="mb-2">
                            <label for="materialName" class="form-label">Select Material:</label>
                            <select id="materialName" class="form-select" required>
                            </select>
                        </div>
                        <button class="btn btn-alpha dropdown-btn" id="view-materials">View material params <i
                                class="bi bi-chevron-down"></i></button>
                        <div id="custom-material-config" class="custom-material-config my-3" style="display: none;">
                            <div class="form-group">
                                <label for="custom-material-name" class="form-label">Material Name:</label>
                                <input id="custom-material-name" class="form-control"
                                    placeholder="e.g., Custom Material">
                            </div>
                            <div class="form-group">
                                <label for="kt" class="form-label">Thermal Conductivity [W/mK]</label>
                                <input type="number" id="kt" class="form-control" step="0.01" placeholder="e.g., 7.0"
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="rho" class="form-label">Density [kg/m³]</label>
                                <input type="number" id="rho" class="form-control" step="1" placeholder="e.g., 4420"
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="cp" class="form-label">Heat Capacity [J/kgK]</label>
                                <input type="number" id="cp" class="form-control" step="1" placeholder="e.g., 560"
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="h" class="form-label">Convection Coefficient [W/m²K]</label>
                                <input type="number" id="h" class="form-control" step="0.01" placeholder="e.g., 20"
                                    disabled>
                            </div>
                            <div id="materialEditButtonGroup" class="d-flex gap-2 mt-3">
                                <button id="editMaterialButton" class="btn btn-secondary hover-effect">
                                    <i class="bi bi-pencil-square me-2"></i>Edit
                                </button>
                                <button id="deleteMaterialButton" class="btn btn-danger hover-effect">
                                    <i class="bi bi-trash3 me-2"></i>Delete
                                </button>
                                <button id="saveMaterialButton" class="btn btn-primary hover-effect">
                                    <i class="bi bi-check-circle me-2"></i>Save
                                </button>
                            </div>
                        </div>
                    </form>
                    <form id="machineForm">
                        <div class="mb-2">
                            <label for="machineName" class="form-label">Select Machine:</label>
                            <select id="machineName" class="form-select" required>
                            </select>
                        </div>
                        <button class="btn btn-alpha dropdown-btn" id="view-machines">View machine params <i
                                class="bi bi-chevron-down"></i></button>
                        <div id="custom-machine-config" class="custom-machine-config my-3" style="display: none;">
                            <div class="form-group">
                                <label for="custom-machine-name" class="form-label">Machine Name:</label>
                                <input id="custom-machine-name" class="form-control" placeholder="e.g., Custom Machine">
                            </div>
                            <div class="form-group">
                                <label for="vs" class="form-label">Scanning Speed [mm/s]</label>
                                <input type="number" id="vs" class="form-control" step="0.01" placeholder="e.g., 100"
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="P" class="form-label">Laser Power [W]</label>
                                <input type="number" id="P" class="form-control" step="1" placeholder="e.g., 150"
                                    disabled>
                            </div>
                            <div id="machineEditButtonGroup" class="d-flex gap-2 mt-3">
                                <button id="editMachineButton" class="btn btn-secondary hover-effect">
                                    <i class="bi bi-pencil-square me-2"></i>Edit
                                </button>
                                <button id="deleteMachineButton" class="btn btn-danger hover-effect">
                                    <i class="bi bi-trash3 me-2"></i>Delete
                                </button>
                                <button id="saveMachineButton" class="btn btn-primary hover-effect">
                                    <i class="bi bi-check-circle me-2"></i>Save
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="analyze-container">
                        <button id="viewButton" class="btn btn-primary"><i class="bi bi-eye-fill"></i> View
                            Original</button>
                        <button id="processButton" class="btn btn-primary"><i class="bi bi-gear-fill"></i>
                            Optimize</button>
                    </div>
                    <div class="container p-3" id="progress-container">
                        <div class="loading-status" id="loadingStatus"></div>
                        <div class="loading-bar" id="loadingBar">
                            <div class="loading-progress" id="loadingProgress"></div>
                        </div>
                        <div id="progress-btn-group">
                            <button id="cancelButton" class="btn btn-danger" disabled><i class="bi bi-x-lg"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btm-panel">
                <h2>Optimization History</h2>
                <button id="refreshButton" class="btn btn-primary">
                    <i class="bi bi-arrow-clockwise"></i>
                    Refresh
                </button>
                <div class="file-history">
                    <div class="list-group" id="fileHistory"></div>
                    <nav aria-label="history-nav">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="bi bi-chevron-left"></i>
                                    Previous
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    Next
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="version">
                <span id="version-number"></span>
            </div>
        </div>
        <div class="resizer" id="dragMe"></div>
        <div class="right-panel">
            <div id="idle-container">
                <h2><i class="bi bi-bar-chart"></i></h2>
                <p>Upload or select an optimized .cli file to get started</p>
            </div>
            <div class="spinner-container" id="spinner">
                <div class="spinner-border text-ulendo"></div>
            </div>
            <div id="nav-container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-analysis" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Sequence Visualizer</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-graph"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Temperature
                            Uniformity</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-analysis" role="tabpanel"
                        aria-labelledby="nav-analysis-tab" tabindex="0">
                        <div id="analysis-container">
                            <div class="d-flex justify-content-between align-items-center mt-3 mb-2" id="help-btn-analysis">
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="collapse"
                                    data-bs-target="#collapseContentAnalysis" aria-expanded="false"
                                    aria-controls="collapseContentAnalysis" title="Click for help">
                                    Help <i class="bi bi-chevron-down"></i>
                                </button>
                            </div>
                            <div class="collapse mt-2 text-start" id="collapseContentAnalysis">
                                <div class="alert alert-info">
                                    <ul>
                                        <li>The singular plot shows the HC optimized hatch sequence of the layer.</li>
                                        <li>Enable the <strong>Show Original</strong> checkbox to compare the original
                                            and optimized hatch sequences side by side.</li>
                                        <li>Enable the <strong>Show Hatch Lines</strong> checkbox to visualize the
                                            detailed hatch lines of the layer.</li>
                                        <li>Use the playback controls to animate the hatch sequence, and speed slider to
                                            adjust the animation speed.</li>
                                        <li>Use the layer slider to navigate through the layers.</li>
                                        <li>Use the hatch slider to control the number of hatches displayed.</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="plot-container">
                                <div id="data_plot"></div>
                                <div id="opti_plot"></div>
                            </div>
                            <div class="slider-container px-3">
                                <div class="playback-container mt-3">
                                    <button id="playButton" class="btn btn-primary">
                                        <i class="bi bi-play-fill"></i>
                                    </button>
                                    <div class="ms-2">
                                        <label for="speedRange" class="form-label">Speed: <span
                                                id="speedValue">1x</span></label>
                                        <input type="range" class="form-range" id="speedRange" min="0.5" max="2"
                                            step="0.5" value="1">
                                    </div>
                                    <div class="d-flex flex-column justify-content-evenly align-items-stretch"
                                        id="analysis-options">
                                        <div>
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="showOriginalCheckbox">
                                            <label class="form-check-label" for="showOriginalCheckbox">
                                                Show Original
                                            </label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="showHatchCheckbox">
                                            <label class="form-check-label" for="showHatchCheckbox">
                                                Show Hatch Lines
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <label for="hatchSlider" class="form-label">Hatches: <span
                                        id="hatchesValue">0</span></label>
                                <input type="range" class="form-range" id="hatchSlider" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-graph" role="tabpanel" aria-labelledby="nav-graph-tab"
                        tabindex="0">
                        <div class="r-container" id="r-screen">
                            <div id="r-plot-container">
                                <div id="r_plot"></div>
                            </div>
                            <div id="grade-container">
                                <label for="r-grade" class="form-label">Thermal Uniformity Grade: <span
                                        id="r-grade"></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="slider-container px-3 mb-5">
                        <label for="layerSlider" class="form-label">Layer: <span id="layerValue">0</span></label>
                        <input type="range" class="form-range" id="layerSlider" value="0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>