<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Terminal</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/ulendo_favi.jpg">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/terminal.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.min.css">
    <script type="text/javascript" src="/eel.js"></script>
    <script defer src="../js/terminal.js"></script>
</head>

<body>
    <div id="terminal">
    </div>
</body>

</html>